<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Yellow Pages</h1>
    <p class="lead">AXA Singapore Customer Data Base</p>
  </div>

  <div class="container">
    <div class="row">
          <div class="row justify-content-center">
          <h2>Type User ID (NRIC, Passport, ...) </h2>
              <div id="custom-search-input">
                  <div class="input-group col-md-12">
                      <input id="searchField" type="text" class="form-control input-lg" placeholder="XXXXXX" ng-keyup="$event.keyCode == 13 ? search() : null" autofocus/>
                      <span class="input-group-btn">
                          <button class="btn btn-info btn-lg" type="button" ng-click="search()">
                              <i class="glyphicon glyphicon-search"></i>
                          </button>
                      </span>
                  </div>
              </div>
          </div>
    </div>
  </div>

</header>




<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Results:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
      <ul class="nav nav-tabs nav-stacked" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>

    </div>
  </div>
</div>
 -->


<footer class="footer">
  <div class="container">
      <p>Digital & Innovation Team |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
